@model LoginViewModel

<div>
  <div class="login-and-signup">
    <a class="signup" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
  </div>
</div>

<form asp-route="Login">
  <input type="hidden" asp-for="ReturnUrl" />

  <div class="field">
    <label class="display-block" asp-for="Email">Email</label>
    <input class="input-text" asp-for="Email" type="text" />
    <span asp-validation-for="Email"></span>
  </div>

  <div class="field">
    <label class="display-block" asp-for="Password">Password</label>
    <input class="input-text" asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>
  </div>

  <div class="password-recovery">
    <a asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">Recover password</a>
  </div>

  <partial name="_Button" model="@("Log in")" />
</form>

<div class="login-with">
  Log in with
</div>
<div class="login-social">
  @foreach (var externalProvider in new string[] { ExternalProviderNames.Facebook, ExternalProviderNames.Google, ExternalProviderNames.GitHub, ExternalProviderNames.LinkedIn })
  {
    <a class="login-social-link" asp-controller="External" asp-action="Challenge" asp-route-scheme="@externalProvider" asp-route-returnUrl="@Model.ReturnUrl">
      <img src="/img/@(externalProvider.ToLower()).png" />
    </a>
  }
</div>

@section Styles {
  <link href="/css/login.css" rel="stylesheet" type="text/css" />
}
