@model UsersViewModel

<div class="users-main">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>In system</th>
      <th>Via Facebook</th>
      <th>Via Google</th>
      <th>Via Github</th>
      <th>Via LinkedIn</th>
      <th>Email is confirmed</th>
      <th class="red">Delete</th>
    </tr>
    @if (Model.Users != null)
    {
      @foreach (var user in Model.Users)
      {
        <tr>
          <td>@user.Name</td>
          <td>@user.Email</td>
          <td>@user.IsRegisteredInSystem</td>
          <td>@user.IsLoggedInViaFacebook</td>
          <td>@user.IsLoggedInViaGoogle</td>
          <td>@user.IsLoggedInViaGithub</td>
          <td>@user.IsLoggedInViaLinkedin</td>
          <td>@user.IsEmailConfirmed</td>
          <td>
            <form id="@user.Id" asp-antiforgery="true" action="/admin/users/delete/@user.Id" method="POST">
              <a class="item-button" onclick="document.getElementById('@user.Id').submit();"><img class="delete-btn" src="/img/delete.png" /></a>
            </form>
          </td>
        </tr>
      }
    }
  </table>
  <div>
    Count: @(Model.Users?.Count() ?? 0)
  </div>
</div>

@section Styles {
  <link href="/css/users.css" rel="stylesheet" type="text/css" />
}
