@layout AuthLayout
@page "/change-password"

@inherits ChangePasswordComponent

<label for="password">Старий пароль</label>
<input bind="@UserChangePasswordModel.OldPassword" id="old-password" type="password" /> <br />

<label for="password">Новий пароль</label>
<input bind="@UserChangePasswordModel.NewPassword" id="new-password" type="password" /> <br />

<label for="password">Підтвердіть новий пароль</label>
<input bind="@UserChangePasswordModel.ConfirmNewPassword" id="confirm-new-password" type="password" /> <br />

<button onclick="@OnChangePasswordAsync">Змінити пароль</button>

@if (Errors != null)
{
  <ul id="errors">
    @foreach (string error in Errors)
    {
      <li>@error</li>
    }
  </ul>
}
