@layout AuthLayout
@page "/"

@inherits IndexComponent

<div>
  <ul id="item-list">
    @if (Items != null)
    {
      var firstItem = Items.FirstOrDefault();
      var lastItem = Items.LastOrDefault();

      @foreach (var item in Items)
      {
        <li>
          <input type="checkbox" checked="@item.IsDone" onchange="@(e => UpdateItemStatusAsync(e, item))" />
          <input value="@item.Text" onchange="@(e => UpdateItemTextAsync(e, item))" />
          <a onclick="@(() => DeleteItemAsync(item))">delete</a>

          @if (item != firstItem)
          {
            <a onclick="@(() => MoveUpItemAsync(item))">move up</a>
          }

          @if (item != lastItem)
          {
            <a onclick="@(() => MoveDownItemAsync(item))">move down</a>
          }

        </li>
      }
    }
  </ul>

  <input bind="@NewItem.Text" type="text" />
  <button onclick="@OnCreateItemAsync">Добавити</button>

  <div>
    <br />
    <a href="users">Користувачі</a>
  </div>
  <div>
    <br />
    <a href="account">Керування аккаунтом</a>
  </div>
  <p onclick="@OnLogoutAsync">Вийти</p>
</div>
