@layout AuthLayout
@page "/"

@inherits IndexComponent

<div class="dropdown">
  @UserName
  <div class="show-menu"></div>
  <div class="dropdown-content">
    @if (IsAdmin.HasValue && IsAdmin.Value)
    {
    <a href="users">Users</a>
    }
    <a href="account">Settings</a>
    <a onclick="@OnLogoutAsync">Log out</a>
  </div>
</div>

<div class="index-main">
  <ol id="item-list">
    @if (Items != null)
    {
    var firstItem = Items.FirstOrDefault();
    var lastItem = Items.LastOrDefault();

    @foreach (var item in Items)
    {
    <li>
      <input type="checkbox" checked="@item.IsDone" onchange="@(e => UpdateItemStatusAsync(e, item))" />
      <input class="index-field" value="@item.Text" onchange="@(e => UpdateItemTextAsync(e, item))" />

      @if (item != firstItem)
      {
      <a class="item-button" onclick="@(() => MoveUpItemAsync(item))">
        <img src="img/up.png" />
      </a>
      }
      else
      {
      <a class="empty-item-button"></a>
      }

      @if (item != lastItem)
      {
      <a class="item-button" onclick="@(() => MoveDownItemAsync(item))">
        <img src="img/down.png" />
      </a>
      }
      else
      {
      <a class="empty-item-button"></a>
      }

      <a class="item-button" onclick="@(() => DeleteItemAsync(item))">
        <img src="img/delete.png" />
      </a>

    </li>
    }
    }
  </ol>

  <div class="align">
    <label class="display-block" for="new-item">New item text:</label>
    <input id="new-item" class="input-text" bind="@NewItem.Text" type="text" />
  </div>

  <div class="align">
    <input class="submit-button" type="button" onclick="@OnCreateItemAsync" value="Add" />
  </div>
</div>
