@layout AuthLayout
@page "/users"

@inherits UsersComponent

<div class="users-main">
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>In system</th>
      <th>Via Facebook</th>
      <th>Via Google</th>
      <th>Via Github</th>
      <th>Via LinkedIn</th>
      <th>Email is confirmed</th>
      <th class="red">Delete</th>
    </tr>
    @if (Users != null)
    {
      @foreach (var user in Users)
      {
        <tr>
          <td>@user.Name</td>
          <td>@user.Email</td>
          <td>@user.IsRegisteredInSystem</td>
          <td>@user.IsLoggedInViaFacebook</td>
          <td>@user.IsLoggedInViaGoogle</td>
          <td>@user.IsLoggedInViaGithub</td>
          <td>@user.IsLoggedInViaLinkedin</td>
          <td>@user.IsEmailConfirmed</td>
          <td>
            <a class="item-button" @onclick="() => DeleteUserAsync(user)">
              <img src="img/delete.png" />
            </a>
          </td>
        </tr>
      }
    }
  </table>
  <div>
    Count: @(Users?.Count ?? 0)
  </div>
</div>
